.singrafico{
    list-style: none;
}
.circulos{
    list-style: circle;
}
.cuadrados{
    list-style: square;
}
.romanos{
    list-style: lower-roman;
}
.tabulado{
    margin-left: 30px;
}